body {
  overflow: hidden;
}
.docs>aside {
  margin-top: 20px;
  border-right: 1px solid #eee;
}
.docs>.y-main>div>section {
  padding: 0 10px;
}
.docs p {
   font-size: 14px;
   color: #5e6d82;
}
.docs h1,
.docs h2,
.docs h3 {
  font-weight: 400;
  color: #1f2f3d;
}
.docs h3 {
  margin: 55px 0 20px;
}
.docs pre {
  background: #fafafa;
  padding: 20px;
  border-radius: 4px;
}
/*.docs table {*/
  /*border-collapse: collapse;*/
  /*width: 100%;*/
  /*background-color: #fff;*/
  /*font-size: 14px;*/
  /*margin-bottom: 45px;*/
  /*line-height: 1.5em;*/
/*}*/
/*.docs table td:first-child,*/
/*.docs table th:first-child {*/
  /*padding-left: 10px;*/
/*}*/
/*.docs table td {*/
  /*color: #333;*/
/*}*/
/*.docs table td,*/
/*.docs table th {*/
  /*border-bottom: 1px solid #d8d8d8;*/
  /*padding: 15px;*/
  /*max-width: 250px;*/
/*}*/
